<template>
  <div class="builder">
    <select id="cardFormat" v-model="cardFormatSelector">
      <option
        v-for="(card, i) in Object.keys(cardFormats)"
        v-bind:key="'card' + i"
        v-bind:value="card"
        v-bind:selected="card == defaultCardFormat"
      >
        {{ cardFormats[card].name }} ({{ cardFormats[card].width }}x{{
          cardFormats[card].height
        }}
        <template
          v-if="cardFormats[card].usage && cardFormats[card].usage.length"
          >{{ cardFormats[card].usage.join(", ") }}</template
        >)
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { CardFormats } from '@/models/CardFormats';

@Component
export default class Builder extends Vue {
  @Prop() private cardFormats!: CardFormats;
  @Prop() private defaultCardFormat!: string;

  cardFormatSelector: string;

  constructor() {
    super();
    this.cardFormatSelector = "stdCardUsaGame";
  }

  @Watch("cardFormatSelector")
  // onPropertyChanged
  onPropertyChanged(value: string) {
    this.$emit("selectCardFormat", value);
  }

  // @Watch: {
  //   placeSelector: function(val) {
  //     this.$emit("selectPlace", val);
  //   },
  //   homeSelector: function(val) {
  //     this.$emit("selectHome", val);
  //   },
  //   checkOutSelector: function(val) {
  //     this.$emit("selectCheckOut", parseDate(val));
  //   },
  //   dateSelector: function(val) {
  //     this.$emit("selectDate", parseDate(val));
  //   },
  //   isSingularSelector: function(val) {
  //     this.$emit("selectIsSingular", val);
  //   },
  //   weatherSelector: function(val) {
  //     this.$emit("selectWeather", val);
  //   }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
