<template>
  <main class="main">{{ message }}</main>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
// import * as cardFormats from "../datas/cardFormats.json";

@Component
export default class Main extends Vue {
  @Prop() private message!: string;

  // Initial data can be declared as instance properties
//   message: string = cardFormats.magnumGold.name;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus"></style>
