<template>
  <div id="app">
    <Header />
    <Builder
      v-bind:cardFormats="cardFormats"
      v-bind:defaultCardFormat="defaultCardFormat"
      v-on:selectCardFormat="selectCardFormat"
    />

    <!-- <img alt="Vue logo" src="./assets/logo.png" class="center" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" /> -->

    <Main v-bind:message="cardFormatSelected" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "./components/Header.vue";
import Builder from "./components/Builder.vue";
import Main from "./components/Main.vue";
// import HelloWorld from "./components/HelloWorld.vue";

import * as cardFormatsJson from "./datas/cardFormats.json";
import { CardFormats } from "./models/CardFormats";

@Component({
  components: {
    Header,
    Builder,
    // HelloWorld,
    Main
  }
})
export default class App extends Vue {
  defaultCardFormat: string;
  cardFormats: CardFormats;//Record<string, any>;
  cardFormatSelected: string;

  constructor() {
    super();
    this.cardFormats = JSON.parse(JSON.stringify(cardFormatsJson)).default;
    this.defaultCardFormat = "stdCardUsaGame";
    this.cardFormatSelected = this.defaultCardFormat;
  }

  selectCardFormat(val: string): void {
    this.cardFormatSelected = val;
  }
}
</script>

<style lang="stylus">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
